body {
    font-family: $open-sans;
}

h1 {
    color: $dark-grey;
}

p {
    font-weight: 700;
    color: $grey;
    font-size: 14px;
}

.nav__title {
    font-size: 36px;
    font-weight: 600;
}

.options__link {
    font-family: $archivo-narrow;
    color: $dark-grey;
    text-decoration: none;
    font-size: 20px;

    &--active {
        color: $pink;
    }

    &:hover {
        color: $pink;
    }
}

